{% extends "base.html" %}
{% block content %}
<h1>Poll Name: {{ poll.title }}</h1>
<p><b>Start Date: </b> {{ poll.start_date|date:"l, j F Y" }}</p>
<p><b>End Date: </b> {{ poll.end_date|date:"l, j F Y" }}</p>
<p><b>Number of Questions :</b> {{ poll.question_set.count|default:"No questions" }}</p>
<hr>
<h3>Questions</h3>
<form method="POST" action="{% url 'poll_detail' poll_id=poll.id %}">
    {% csrf_token %}
    {% for question in questions %}
    <div class="row mb-2">
        <div class="col-6">
            {{question.text}}
            <ul>
                {% for choice in question.choice_set.all %}
                    <li style="list-style-type:none;">
                        &nbsp;
                        <input 
                         type="radio" 
                         name="choice{{question.id}}" 
                         value="{{choice.id}}"
                         {% if question.selected_answer.choice.id == choice.id %}
                            checked
                         {% endif %}
                        >{{ choice.text }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
    <div class="row mb-2">
        <div class="col">
            <button class="btn btn-primary" type="submit">Save</button>
            <button class="btn btn-warning" type="button" onclick="window.location = '/polls/index/'">Back</button>
        </div>
    </div>
</form>
<hr>
{% endblock content %}

